@font-face {
    font-family: Nexa;
    src: url(../fonts/NexaXBold.woff);
  }
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    background:#F7931A url(../images/right-side-bg.png) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    font-family: Nexa;
font-weight: 300;
font-size: 20px;
height: 200vh;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "left-side right-side";
    width: 100vw;
    height: 100vh;
    transition: ease 2ms;

  }
  
.first-page {
    height: 100vh;
    width: 100%;
    background-color: #e5e5e5;
}
.second-page {
    height: 100vh;
    width: 100%;
    background-color: #e5e5e5;
}
.first-page-logo {
    background: url(../images/left-side-bg.jpg) no-repeat center center;
    height: 50%;
    border-radius: 0 0 30px 30px;

}
.first-page-submit {
    height: 50%;
    margin-top: -10%;
    width: 92%;
    margin-left: 4%;
    padding: 10%;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 5px 5px rgba(5,5,5,0.3);
    z-index: 99;
    position: relative;
}
.first-page-orange {
    background-color: #f7931a;
    height: 35%;
    margin-top: -35%;
    position: relative;
    bottom: 0px;
}

.first-page-arc {
    background-color: #e5e5e5;
    height: 25%;
    width: 100%;
    z-index: 80;
    margin-top: -55%;
    position: relative;
    border-radius: 0 0 50% 50%;
}
.second-page-orange {
    background-color: #f7931a;
    height: 35%;
    position: relative;
    bottom: 0px;
}

.second-page-arc {
    background-color: #e5e5e5;
    height: 25%;
    width: 100%;
    z-index: 80;
    margin-top: -35%;
    position: relative;
    border-radius: 50% 50% 0 0;
}

.sp-description {
    padding: 20px;
    color: #181717;
    font-size: 4vw;
}

.packages-title {
    padding-top: 15px;
    font-size: 12vw;
    text-align: center;
    color: #fff;
}

.mobile-submit {
    background-color: #f7931a;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    border: none;
}

.mobile-form-control {
    height: 67px;
    border-radius: 25px;
    border: none;
    background-color: #dedede;
    width: 100%;
    padding-left: 15px;
    text-align: center;
    font-size: 5vw;

}
.form-text{
    color: #f7931a;
    text-align: center;
    margin-bottom: 25px;  
    font-size: 4.5vw; 
}
.fp-logo {
    width: 50%;
    margin-left: 25%;
}

.packages-deskription {
    font-size: 15px;
    padding-top: 18px;
    color: #9c9c9c;
}


/* slick */

.slider-back {
    margin-top: -150px;
    position: relative;
    z-index: 99;
}

.slider-item {
    margin: 0 10px 0 10px;
    background-color: #fff;
    text-align: center;
    color: #f7931a;
    font-size: 6vw;
    border-radius: 25px;
    padding: 40px
}




/*end slick */




.left-side { 
    grid-area: left-side;
    background: url(../images/left-side-bg.png) no-repeat center center;
    height: 100%;
    width: 140%;
    background-size: cover;
    margin-left:-376px;
    position: relative;
   }
.left-side .logo{
    position: absolute;
    left:40%;
    top:30%;
}

.left-side p{
    text-align: center;
    color: white;
    width: 500px;
    margin: 50px 10% !important;

}



.fp-help-text {
    color: #fff;
    text-align: center;
    font-size: 4.5vw;
    padding-top: 2vh;
}

.fp-second-text {
    color: #f7931a;
    font-size: 7vw;
    padding-top: 20px;
    text-align: center;
}

.fp-main-text {
    color: #f7931a;
    font-size: 17vw;
    text-align: center;
    margin-top: -20px;
}

.second-arc {
    background-color: #f7931a;
    height: 25%;
    width: 100%;
    z-index: 80;
    position: relative;
    border-radius: 0 0 50% 50%;
}






.right-side{
    grid-area: right-side;
}
.right-side h1,
.right-side h4{
    color:white;
}
.right-side .thanks{
    width: 500px;
    margin: 40% auto;
}

.right-side .container{
    color:white;
    position: relative;
    top: 150px;
    left: 6%;
}

.right-side .form{
    width: 500px;
    margin: 30% auto;
}
.right-side .form .form-control{
    font-family: Nexa;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color: white;
    line-height: 2.7;
    width: 469px;
    height: 72px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
    text-align: center;
    border: 0;
}
.right-side .form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  .right-side .form .submit-btn{
    font-family: Nexa;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: #f7931a;
    text-align: center;
    line-height: 2.7;
    width: 469px;
    height: 72px;
    border-radius: 36px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  }


/* swipper */




    .swiper-container {
      width: 80%;
      height: 25%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      border-radius: 20px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

  /* RESPONSIVE */
    @media screen and (max-width:1340px){
    .grid-container {
        grid-template-columns: 2fr 1fr;
      }

  }
    @media screen and (max-width:750px){
      
    body {
        overflow: scroll;
    }
  }

  @media screen and (max-width:1170px){
      
    .left-side {
        width: 160%;
    }
  }



