@font-face {
    font-family: Nexa;
    src: url(../fonts/NexaXBold.woff);
  }
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    background:#F7931A url(../images/right-side-bg.png) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    font-family: Nexa;
font-weight: 300;
font-size: 20px;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "left-side right-side";
    width: 100vw;
    height: 100vh;
    transition: ease 2ms;

  }
  


.left-side { 
    grid-area: left-side;
    background: url(../images/left-side-bg.png) no-repeat center center;
    height: 100%;
    width: 140%;
    background-size: cover;
    margin-left:-376px;
    position: relative;
   }
.left-side .logo{
    position: absolute;
    left:40%;
    top:30%;
}

.left-side p{
    text-align: center;
    color: white;
    width: 500px;
    margin: 50px 10% !important;

}



.right-side{
    grid-area: right-side;
}
.right-side h1,
.right-side h4{
    color:white;
}
.right-side .thanks{
    width: 500px;
    margin: 40% auto;
}

.right-side .container{
    color:white;
    position: relative;
    top: 150px;
    left: 6%;
}

.right-side .form{
    width: 500px;
    margin: 30% auto;
}
.right-side .form .form-control{
    font-family: Nexa;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color: white;
    line-height: 2.7;
    width: 469px;
    height: 72px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
    text-align: center;
    border: 0;
}
.right-side .form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  .right-side .form .submit-btn{
    font-family: Nexa;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: #f7931a;
    text-align: center;
    line-height: 2.7;
    width: 469px;
    height: 72px;
    border-radius: 36px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  }




  /* RESPONSIVE */
    @media screen and (max-width:1340px){
    .grid-container {
        grid-template-columns: 2fr 1fr;
      }

  }

  @media screen and (max-width:1170px){
      
    .left-side {
        width: 160%;
    }
  }